body
{
    background-image: url("bg4.png");
    background-position: cover;
}

img
{
    width: 220px;
}

footer
{
    color: lightcyan;
    background-color: lavenderblush;
    position: fixed;
    bottom:0;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}